.button__default {
	border: 1.5px solid rgba(220, 20, 60, 0.74);
	margin: 5px;
	border-radius: 5px;
	background-color: rgba(220, 20, 60, 0.568);
	cursor: pointer;
	transition: all ease-in 0.5s;
	&:hover {
		background-color: crimson;
		border-radius: 10px;
		color: rgba(245, 234, 234, 0.774);
	}
}
