.container {
	max-width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

// .main-title {
// 	text-decoration: underline;
// 	text-align: center;
// }

// main-img-wrapper {
// 	max-width: 250px;
// 	margin: 0 auto;
// }
// .main-img {
// 	max-width: 100%;
// }
