:global .my-container {
	max-width: 1280px;
	margin: o auto;
}

.block {
	display: flex;
	flex-direction: column;

	&-paddings {
		padding: 25px;
	}
}
.link {
	font-size: 24px;
	color: #3f3f3f;
}

.link:visited {
}
