.card {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: violet;
	border-radius: 10px;
	border: 2px solid rgba(201, 192, 192, 0);
	margin: 10px;
	padding: 5px;
	max-width: 230px;

	&__container {
		text-align: center;
	}
	&__img-container {
		position: relative;
		width: 220px;
		height: 250px;
	}
	&__img {
		position: relative;
		left: 0;
		width: 95%;
		height: 250px;
		cursor: pointer;
		box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.7);
		transition: ease all 0.3s 0.1s;
	}
	&__img:hover {
		text-align: center;
		width: 215px;
		height: 255px;
		transform: rotate(1.5deg);
	}

	&__star {
		cursor: pointer;
	}
	&__text {
		margin: 5px;
	}
}
