.btn {
	max-width: 200px;
	color: white;
	margin: 10px;
	padding: 5px;
	background-color: #7a241b8a;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn:hover {
	background-color: #7a241bc0;
}

.btn_close {
	max-width: 60px;
	color: white;
	border: none;
	// background-color: #7a241b8a;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}
