.confirm {
	position: relative;
	margin-top: 50px;
	transition: all ease 1s;

	&__package {
		padding: 10px 30px;
		background-color: rgba(3, 197, 187, 0.938);
	}
	&__img {
		width: 30px;
		height: 30px;
		margin-right: 15px;
	}
}
