.card__details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: violet;
	border-radius: 10px;
	border: none;
	margin-top: 60px;
	margin-left: 15px;
	padding: 5px;
	max-width: 230px;
	&__container {
		text-align: center;
	}
	&__img {
		width: 95%;
		height: 250px;
	}
	&__text {
		margin: 5px;
	}
}
