.button__default {
	margin: 5px;
	border: none;
	background-color: rgba(220, 20, 60, 0.568);
	cursor: pointer;
	box-shadow: 0 0 0 1px rgba(220, 20, 60, 0.548) inset,
		-1px 0px rgba(220, 20, 59, 0.548), -1px 1px rgba(220, 20, 6, 0.548),
		-1.5px 1px rgba(220, 20, 57, 0.548), -1.5px 1.5px rgba(220, 20, 5, 0.518),
		-2px 1.5px rgba(220, 20, 55, 0.548), -2px 2px rgba(220, 20, 4, 0.518),
		-2px 2px rgba(220, 20, 53, 0.518), -3px 2px rgba(220, 20, 3, 0.518),
		2px 2px 3px rgba(0, 0, 0, 0.4), -2px 3px 6px rgba(0, 0, 0, 0.2),
		-2px 4px 2px rgba(0, 0, 0, 0.2), -1px 6px 7px rgba(0, 0, 0, 0.3);
	transition: all ease-in 0.1s;
	outline: none;

	&:hover {
		background: linear-gradient(to bottom, #e609397c 5%, #c73a4d85 100%);
		background-color: crimson;
		color: rgba(245, 234, 234, 0.774);
	}

	&:active {
		box-shadow: none;
		background-color: rgba(119, 55, 13, 0.774);
		color: rgba(204, 224, 224, 0.918);
		-webkit-transform: translate(-3px, 3px);
		transform: translate(-3px, 3px);
	}
}
