.card__wrapper {
	display: flex;
	max-width: 400px;
}
.card__wrapper-delete {
	max-width: 30px;
	max-height: 30px;
	border: none;
	margin: 5px;
	border-radius: 10px;
	background-color: rgba(255, 60, 0, 0.411);
	cursor: pointer;
}
