.basket__form {
	display: flex;
	flex-direction: column;
	min-width: 60%;
	margin: 20px;
	padding: 10px;
	background-color: cadetblue;
	border-radius: 10px;
}

.basket__form-name {
	border: none;
	margin: 0 0 15px 0;
}
