.card {
	box-sizing: border-box;
	display: flex;
	min-width: 280px;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: all 0.5s;
	background-color: violet;

	&__container {
		display: flex;

		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: violet;
		border: 2px solid rgba(201, 192, 192, 0);
		padding: 5px;
		width: 200px;
		text-align: center;
	}

	&__img-container {
		position: relative;
		width: 220px;
		height: 250px;
	}

	&__img {
		position: relative;
		left: 0;
		width: 95%;
		height: 250px;
		cursor: pointer;
		box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.7);
		transition: ease all 0.3s 0.1s;
	}

	&__img:hover {
		text-align: center;
		width: 215px;
		height: 255px;
		transform: rotate(1.5deg);
	}

	&__star-container {
		display: flex;
	}

	&__star {
		position: absolute;
		font-size: 20px;
		top: 3%;
		right: 3%;
		margin-left: 20px;
		text-align: center;
		cursor: pointer;

		transition: all 0.8s;

		&:hover {
			transform: rotate(360deg);
		}
	}

	&__text {
		max-width: 25ch;
		white-space: nowrap; /* Запрещаем перенос строк */
		overflow: hidden; /* Обрезаем все, что не помещается в область */
		text-overflow: ellipsis; /* 3 точки в конце*/
		margin: 5px;
	}

	&:hover {
		background-color: violet;
		box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.7);
		z-index: 1;
	}
}
