.dn {
	display: none;
}

.container__box {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.7);
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	max-height: 200px;
	padding-bottom: 20px;
	color: white;
	border: none;
	border-radius: 10px;
	background-color: #e74c3c;
	overflow: hidden;
	z-index: 1;
}

.container-btn {
	display: flex;
	justify-content: center;
}

.shadow-box {
	max-width: 60px;
	background-color: #7a241b8a;
}
