.container__modal {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, 0.322);
	background-size: cover;
}

.modal {
	display: flex;
	flex-direction: column;
	// justify-content: center;
	align-items: center;
	width: 300px;
	height: 200px;
	background-color: cadetblue;
	z-index: 1;
}

.container-btn {
	display: flex;
	margin: 10px;
}

.container__modal-btn {
	display: flex;
	justify-content: flex-end;
	min-width: 100%;
}

.modal-btn {
	background-color: transparent;
	border: none;
	outline: none;
}
