.icon {
  width: 16px;
  height: 16px;
  display: inline-block;

  &--sm {
    width: 8px;
    height: 8px;
  }

  &--lg {
    width: 32px;
    height: 32px;
  }
}

// .icon-star-path {
//   fill: aqua;
//   stroke: yellow;
// }