.form {
	// position: relative;
	// display: flex;
	// justify-content: center;
	// align-items: center;
	// top: calc(50% - 800 / 2);
	// left: calc(50% - 300 / 2);
	flex-direction: column;
	max-width: 300px;
	border: 1px solid black;
	padding: 5px;
}

.form__gender {
	display: flex;
	justify-content: center;
}

.form__gender-point {
	margin: 10px;
}

.form-input {
}
