.App {
	text-align: center;
}

.app__container {
	background-image: url(https://bel.cultreg.ru/uploads/f362deb4dab555f10db57e4844ebe980.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-width: 100%;
	min-height: 100vh;
	color: rgb(63, 34, 14);
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
