@media (max-width: 768px) {
	.header__container {
		display: flex;
		min-width: 25%;
		justify-content: flex-start;
		align-items: center;
		background-color: rgb(73, 226, 43);
		font-size: 13px;
	}

	.header__container--not-burger {
		position: absolute;
		right: 100%;
		max-width: 768px;
	}

	.header__container--burger-box {
		position: relative;
		width: 30px;
		padding: 12px 0;
	}

	.header__container--burger::before,
	.header__container--burger::after,
	.header__container--burger {
		display: block;
		background-color: blue;
		width: 30px;
		height: 6px;
	}

	.header__container--burger::before,
	.header__container--burger::after {
		position: absolute;
		content: '';
		right: 0;
	}

	.header__container--burger::before {
		top: 0;
	}

	.header__container--burger::after {
		bottom: 0;
	}
}
@media (min-width: 769px) and (max-width: 1200px) {
	.header__container {
		display: flex;
		min-width: 25%;
		justify-content: space-evenly;
		align-items: center;
		background-color: blueviolet;
		font-size: 13px;
	}

	.header__container--not-burger {
		display: contents;
	}

	.header__container--burger-box {
		overflow: hidden;
		position: absolute;
		right: 100%;
	}
}

@media (min-width: 1200px) {
	.header__container {
		display: flex;
		min-width: 25%;
		justify-content: space-evenly;
		align-items: center;
		background-color: aqua;
		font-size: 18px;
	}

	.header__container--not-burger {
		display: contents;
	}

	.header__container--burger-box {
		overflow: hidden;
		position: absolute;
		right: 100%;
	}
}

.header__container {
	align-items: center;
	height: 50px;
	font-weight: bold;
}

.header {
	position: relative;
}
