.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: violet;
	border-radius: 10px;
	border: none;
	margin: 10px;
	padding: 5px;
	max-width: 260px;
	&__container {
		text-align: center;
	}
	&__img {
		width: 250px;
		height: 250px;
	}
	&__text {
		margin: 5px;
	}
}
