.card {
	margin: 5px;
	background-color: blanchedalmond;
	border-radius: 10px;
	overflow: hidden;
}

.img {
	max-width: 250px;
}

.card__box-price {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-star-path {
	width: 16px;
	height: 16px;
}

.card-name {
	display: flex;
	justify-content: center;
	align-items: center;
}
