.btn__default {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px;
	margin: 10px;
	color: rgba(7, 7, 156, 0.932);
	background-color: rgba(209, 42, 70, 0.753);
	transition-duration: 0.5s;
	transition-timing-function: linear;
	border-radius: 12px;
	outline: none;
	&:hover {
		color: rgba(35, 35, 211, 0.932);
		background-color: rgba(199, 20, 50, 0.904);
		border-radius: 15px;
		transition: all;
		transition-duration: 0.5s;
	}
}
