@import "../../variables";
.emails {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  &-list {
    &__item {
      display: flex;
      flex-direction: column;
      background-color: #eee;
      padding: 20px 40px 20px 20px;
      margin-bottom: 10px;
    }

    &__subject {
      cursor: pointer;
      font-size: 28px;
      letter-spacing: 10px;
      text-transform: uppercase;
      margin: 10px 0;
    }

    &__link-from {
      align-self: flex-start;
      font-size: 18px;
      color: $text-color;
      transition: color 0.3s;

      &:hover {
        color: $primary;
      }

      &::before {
        content: 'from: ';
      }
    }

    &__link-to {
      align-self: flex-start;
      font-size: 18px;
      color: $text-color;
      transition: color 0.3s;

      &:hover {
        color: $primary;
      }

      &::before {
        content: 'to: ';
      }
    }
    
    &__text {
      color: $text-color;
    }
  }
}